@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  background-color: royalblue;
  overflow-x: hidden;

}
.app {
  background-image: url('../../data/images/image\ \(1\).png');
  background-size: cover;
  height: 100vh;
  padding-bottom: none;
}

#text {
  display: none
}

.contentStyl {
  // background-color: rgba(173, 216, 230, 0.5);
  width: fit-content;
  color: black;
  font-size: 1vw;
}

.app2 {
  background-image: url('../../data/images/clash-royale-home-banner.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: none;
}

@media (max-width: 768px) {
    .app .app2 {
        background-image: url('../../data/images/image\ \(1\).png');
        background-size: cover;
        height: 100vh;
        padding-bottom: none;

    }
}

@media (max-width: 321px) {
    .app .app2 .navbar {
        background-image: url('../../data/images/image\ \(1\).png');
        background-size: 1000%;
        width: 100vw;
        height: 100vh;
        padding-bottom: none;

    }
}

.CR-logo-img {
  width: 5.75vw;
  padding-left: 0.8vw;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
}

.navbar {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1vw;
  width: 99vw;
  position: relative;
}

.nav-links {
  display: flex;
  gap: 1vw;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .line {
  width: 4vw;
  height: 0.7vh;
  background-color: black;
  margin: 0.9vh 0;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 7.8125VH;
    left: 0;
    width: 100%;
    background-color: antiquewhite;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

.CR-header {
  color: royalblue;
  font-size: 3vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.nav-link {
  color: black;
  font-size: 1.3vw;
  text-decoration: none;
  padding: 2vw;
  border-radius: 0.3125rem;
  background-color: transparent; /* Default background */
  transition: font-size 0.3s ease;
}

a:hover:not(#normal) {
  color: royalblue; 
  text-decoration: underline;
  font-size: 1.75vw; 
}

a::after:not(#normal) {
  content: '';
  position: absolute;
  width: 0;
  height: 0.01vh; /* Thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: blue;
  transition: width 0.3s ease; /* Animate the width */
}




.progress-bar-container {
  width: 100vw;
  height: 2vh;
  background-color: #e0e0e0;
  border-radius: 0.625rem;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100vh;
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .container {
  display: flex;
  }
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
}

.link-info {
  display: flex;
  font-size: 0.5vw;
}

.info-container {
  align-items: center;
  justify-content: center;
  padding: 1.5vw;
}

.loading-info {
  font-weight: 600 !important;
  font-size: 0.8vw !important;
}
